[build]
  publish = "."

[[redirects]]
  from = "/*"
  to = "index.html"
  status = 200

[headers]
  /*
    cache-control = "max-age=0, no-cache, no-store, must-revalidate"
    pragma = "no-cache"
    expires = "0"